<div class="col-sm-3 sidenav jumbotron" >
    <img src="https://www.infojobs.it/logo/logo/do-get.xhtml?id=4892987718&dgv=506969630811119956" class="img-rounded img-responsive" alt="Admin profile picture" width="300" style=" margin-left: 0.1%">
    <ul class="nav nav-pills nav-stacked" style="margin-top: 10%; color: whitesmoke; font-family:Aclonica; font-size: 100% ">
        <li class="header <%= title==='Profile' ? 'active' : ''  %>">><a href="/adminprofile">Profile</a></li>
        <li class="header <%= title==='Courses' ? 'active' : ''  %>">><a href="/admincourse">Courses</a></li>
        <li class="header <%= title==='Users' ? 'active' : ''  %>">><a href="/adminusers">Users</a></li>
    </ul><br>
</div>
