<script src="/bower_components/jquery/dist/jquery.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="/bower_components/slick-carousel/slick/slick.js"></script>

<footer class="container-fluid text-center" style="font-size: 20px">
    <p>&copy; AMBROGIO SHPK 2017 </p>
    <a href="">Ambrogio shpk</a>
</footer>
</body>
</html>