<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h3 class="modal-title modalHeader" id="lineModalLabel" style="font-size: 30px; font-family: sans-serif">Welcome back! Please login</h3>
            </div>
            <div class="modal-body">

                <!-- content goes here -->
                <form style="font-size: 20px; font-family: sans-serif">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                    </div>
                    <div class="form-group"><label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    </div>

                    <button type="submit" style="width: 100%; font-size: 24px" class="btn btn-primary">Login</button>
                </form>
            </div>
        </div>
    </div>
</div>