<nav class="navbar   navbar-default navbar-fixed-top" style="background-color: #ffffff;  border: none; border-bottom-style: ridge;">
    <div  class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div style="margin-top: 30px" class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li  class="ict"><a href="#">ICTYouNeed</a></li>
                <li class="active header"><a href="#">Home</a></li>
                <li class="header"><a href="#">About us</a></li>
                <li class="header"><a href="#">Contact</a></li>
                <li class="header"><a href="#">Courses</a></li>
                <li class="header"><a href="#">Become an instructor</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="header" ><a href="#"><button type="button" class="btn btn-primary" style="width: 120px; height: 60px">Login</button>
                    </a></li>
            </ul>
        </div>
    </div>
</nav>