<% include partials/header %>


<div style="width: 80%; margin-left: 10%; margin-right: 10%; margin-top: 130px">
    <div class="class">

        <div>
            <img src="https://lh3.googleusercontent.com/0dZdu3mhvsx-UM0et0RNJ6yl4LO_JGoki9oU3kEmiaRkwcaK9bXZ8oDg4TosUMWWId-d=w250-h250">
        </div>

        <div>
            <img src="https://lh6.googleusercontent.com/-z13tfXPJ52w/AAAAAAAAAAI/AAAAAAAAD_k/pAcfm603Yl0/photo.jpg">
        </div>
        <div>
            <img src="https://lh3.googleusercontent.com/0dZdu3mhvsx-UM0et0RNJ6yl4LO_JGoki9oU3kEmiaRkwcaK9bXZ8oDg4TosUMWWId-d=w250-h250">
        </div>

        <div>
            <img src="https://lh6.googleusercontent.com/-z13tfXPJ52w/AAAAAAAAAAI/AAAAAAAAD_k/pAcfm603Yl0/photo.jpg">
        </div>
        <div>
            <img src="https://lh3.googleusercontent.com/0dZdu3mhvsx-UM0et0RNJ6yl4LO_JGoki9oU3kEmiaRkwcaK9bXZ8oDg4TosUMWWId-d=w250-h250">
        </div>

        <div>
            <img src="https://lh6.googleusercontent.com/-z13tfXPJ52w/AAAAAAAAAAI/AAAAAAAAD_k/pAcfm603Yl0/photo.jpg">
        </div>
        <div>
            <img src="https://lh3.googleusercontent.com/0dZdu3mhvsx-UM0et0RNJ6yl4LO_JGoki9oU3kEmiaRkwcaK9bXZ8oDg4TosUMWWId-d=w250-h250">
        </div>

        <div>
            <img src="https://lh6.googleusercontent.com/-z13tfXPJ52w/AAAAAAAAAAI/AAAAAAAAD_k/pAcfm603Yl0/photo.jpg">
        </div>

    </div>

</div>
</div>
<div class="jumbotron text-center">
    <h1 class="slogan">Our Team</h1>
</div>


<div class="container-fluid bg-3 text-left" style="font-size: 14px">

    <div class="row text-left">
        <div class="col-sm-3" style="margin: auto">
            <img class="img-responsive" src="http://via.placeholder.com/350x350">
            <p>Adelina</p>
            <p>Beqiri</p>
            <p>iOS Developer</p>
        </div>

        <div class="col-sm-3" style="margin: auto">
            <img class="img-responsive" src="http://via.placeholder.com/350x350">
            <p>Andi </p>
            <p>Naçollari</p>
            <p>Android Developer</p>
        </div>

        <div class="col-sm-3" style="margin: auto">
            <img class="img-responsive" src="http://via.placeholder.com/350x350">
            <p>Anxhela</p>
            <p>Mustafa</p>
            <p>iOS Developer</p>
        </div>

        <div class="col-sm-3" style="margin: auto">
            <img class="img-responsive" src="http://via.placeholder.com/350x350">
            <p>Elvis</p>
            <p>Deda</p>
            <p>Android Developer</p>
        </div>
    </div>
</div>
<br>


<div class="container-fluid bg-3 text-left" style="font-size: 14px">
    <div class="row text-left">
        <div class="col-sm-3" style="margin: auto">
            <img class="img-responsive" src="http://via.placeholder.com/350x350">
            <p>Desli</p>
            <p>Mane</p>

            <p>Back-end Developer</p>
        </div>

        <div class="col-sm-3" style="margin: auto">
            <img class="img-responsive" src="http://via.placeholder.com/350x350">
            <p>Gentjana</p>
            <p>Muça</p>
            <p>Front-end Developer</p>
        </div>

        <div class="col-sm-3" style="margin: auto">
            <img class="img-responsive" src="http://via.placeholder.com/350x350">
            <p>Malfor</p>
            <p>Saja</p>
            <p>Back-end Deveoper</p>
        </div>

        <div class="col-sm-3" style="margin: auto">
            <img class="img-responsive" src="http://via.placeholder.com/350x350">
            <p>Timonela</p>
            <p>Fani</p>
            <p>Front-end Developer</p>
        </div>
    </div>
</div>
</div><br>

<% include partials/loginModal %>
<% include partials/footer %>
<script>
    $(document).ready(function () {
        $('.class').slick({
            slidesToShow: 3,
            slidesToScroll: 1,
            autoplay: true,
            autoplaySpeed: 2000,
            infinite: true,
            arrows: true,
            useCSS: true,
            prevArrow: '<span class="class-to-style myclass-arrow-slider-left"><span class="glyphicon glyphicon-circle-arrow-left"></span><span class="sr-only">Prev</span></span>',
            nextArrow: '<span class="class-to-style myclass-arrow-slider"><span class="glyphicon glyphicon-chevron-right" style=""></span></span>'

        });
    });

</script>