<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/starter-template.css">
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="about">About</a></li>
                <li><a href="#" data-toggle="modal" data-target="#Mymodal">Sign Up</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<!--<div class="well">-->
    <!--<h4>{name} <button class="btn btn-default pull-right"-->
                       <!--data-toggle="collapse" href="#recipe_{id}" aria-expanded="false"-->
                       <!--aria-controls="recipe_{id}"><span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>-->
        <!--</button></h4>-->

    <!--<div class="collapse" id="recipe_{id}">-->
        <!--<br />-->
        <!--<br />-->
        <!--<p><strong>Ingredients: </strong>{ingredients}</p>-->
        <!--<p><strong>Directions: </strong>{directions}</p>-->
        <!--<br />-->
        <!--<hr />-->

        <!--<button class="btn btn-default edit-recipe">-->
            <!--<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>-->
        <!--</button>-->

        <!--<button class="btn btn-default edit-recipe">-->
            <!--<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>-->
        <!--</button>-->

    <!--</div>-->
<!--</div>-->



<div class="col-md-12 text-center">
    <h1>AMBROGIO DIGITAL COMPANY</h1>

    Ambrogio is a Digital Italian Company to 100%, which for over 10 years helping thousands of companies to take
    advantage of internet technology and telecommunications, providing customized and flexible solutions tailored to
    specific needs.
    A real expert team that supports its clients in seizing the opportunities offered by the most advanced technological
    tools,
    services offering immediate and easy to use.

    <h2>Our products</h2>

    <h4><strong>ICT You Need</strong></h4>

</div>

<script src="/bower_components/jquery/dist/jquery.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
</body>
</html>