<% include partials/header%>
<style>
    .row.content {height: auto}
    .sidenav {
        background-color: whitesmoke;
        height: auto;
    }
</style>
<div class="container-fluid">
    <div class="row content"  style="margin-top: 8%; margin-left: 6%; margin-right: 8%">
        <% include partials/adminsidebar%>
        <div class="col-sm-8 " style="margin-top: 0px">
            <div class="row">
                <div class="col-sm-5">
                    <img src="http://www.cdn.innesvienna.net//Content/user-default.png" class="img-circle" alt="Admin profile picture" width="200" style="margin-top: 5%; margin-left: 20%">
                </div>
                <div class="col-sm-4" style="margin-top:30px ">
                    <h3>Jane Doe</h3>
                    <h3>janedoe@email.com</h3>
                    <h3>Tirane, Albania</h3>
                    <h3>12.5.1990</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3" style="margin-top: 50px; margin-left:100px">
                    <button type="button" class="btn btn-default">Edit Profile</button>
                </div>
            </div>
        </div>
    </div>
</div>


<% include partials/footer %>