<% include partials/header%>

<style>
    .row.content {height: auto}
    .sidenav {
        background-color: whitesmoke;
        height: auto;
    }
</style>

<!-- Side navigation bar-->

<div class="container-fluid">
    <div class="row content"  style="margin-top: 8%; margin-left: 6%; margin-right: 8%">

        <% include partials/adminsidebar%>
        <!-- Users table-->

        <div class="col-sm-offset-1 col-sm-8 " style="margin-top: 0px">
            <div class="row">
                <div class="col-sm-9  text-center jumbotron">
                    <h2>Courses</h2>
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>S.No</th>
                            <th>Name</th>
                            <th>Level</th>
                            <th>Instructor</th>
                            <th>Enable or Disable</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1</td>
                            <td>Database</td>
                            <td>Beginner</td>
                            <td>Desli Mane</td>
                            <td><input type="checkbox" checked data-toggle="toggle" data-onstyle="success" data-offstyle="danger"></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Linux</td>
                            <td>Intermediate</td>
                            <td>Timonela Fani</td>
                            <td><input type="checkbox" checked data-toggle="toggle" data-onstyle="success" data-offstyle="danger"></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Node.js</td>
                            <td>Beginner</td>
                            <td>Malfor Saja</td>
                            <td><input type="checkbox" checked data-toggle="toggle" data-onstyle="success" data-offstyle="danger"></td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>WebSocket</td>
                            <td>Advanced</td>
                            <td>Gentjana Muça</td>
                            <td><input type="checkbox" checked data-toggle="toggle" data-onstyle="success" data-offstyle="danger"></td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>Objective C</td>
                            <td>Beginner</td>
                            <td>Anxhela Mustafa</td>
                            <td><input type="checkbox" checked data-toggle="toggle" data-onstyle="success" data-offstyle="danger"></td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>Java</td>
                            <td>Beginner</td>
                            <td>Andi Naçollari</td>
                            <td><input type="checkbox" checked data-toggle="toggle" data-onstyle="success" data-offstyle="danger"></td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>Swift</td>
                            <td>Advanced</td>
                            <td>Adelina Beqiri</td>
                            <td><input type="checkbox" checked data-toggle="toggle" data-onstyle="success" data-offstyle="danger"></td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td>Android</td>
                            <td>Intermediate</td>
                            <td>Elvis Deda</td>
                            <td><input type="checkbox" checked data-toggle="toggle" data-onstyle="success" data-offstyle="danger"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class=" col-sm-9  text-center jumbotron">
                    <a href="/courses">Upload a Course</a>
                </div>
            </div>
        </div>
    </div>

    <% include partials/loginModal %>
<% include partials/footer %>