
<% include partials/header%>
<style>
    address {
        display: block;
        font-style: italic;
    }
</style>

<div style="width: 80%; margin-left: 10%; margin-right: 10% ">

    <div class="container-fluid bg-3 text-left">
        <div class="row text-left" style="font-size: 12px">
            <div class="col-sm-12" style="margin-top:15px">
                <br/><br/>
                <h1 style="color:#03a9f4; margin-left: -1%; margin-top: 5%">CONTACT US</h1></div>
            <div class="row text-left" style="font-size: 14px">
                <div class="col-sm-6" style="margin: auto">
                    <br/>
                    <div id="map" style="width:500px;height:200px;background:lightgrey"></div>
                    <script>

                        function initMap() {
                            var uluru = {lat: 41.331677, lng: 19.820327};
                            var map = new google.maps.Map(document.getElementById('map'), {
                                zoom: 10,
                                center: uluru
                            });
                            var marker = new google.maps.Marker({
                                position: uluru,
                                map: map
                            });
                        }
                    </script>
                    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcmx64awhAsQ9LPXC3215wfTHvx_of5Vg&callback=initMap"></script>
                    <!--<p>We want to improve our site in order to fill all your needs. <br/>Please send as a feedback and help us know what do you think.</p><br/><br/> -->
                    <br/>
                    <address>
                        <strong>You can find us at:</strong> <br><br>
                        Rruga Barrikadave <br>
                        Pallati Delta<br>
                        Shkalla 1<br>
                        Tirane, Albania<br>
                    </address>
                    <h5><strong>Timing</strong></h5>
                    <h6> 9 am to 6 pm<br/>
                        Expect our response within 24 hours</h6><br><br>
                    <a href="mailto:contact@ambrogio.al?Subject=Hello%20again" target="_top" class="glyphicon glyphicon-envelope"> contact@ambrogio.al</a><br/>
                    <p class="glyphicon glyphicon-phone-alt"> 042255555</p><br>
                    <p class="glyphicon glyphicon-phone"> 00355682525000</p>

                </div>
                <div class="row text-left">
                    <div class="col-sm-6">
                        <img style="margin-left: -4%; margin-top: -5.1%" src="http://www.myiconfinder.com/uploads/iconsets/256-256-c5563e3060de2af5ef307bd337c611eb-email.png">

                        <form style="width: 70%">

                            <div class="form-group">
                                <label>Name</label>
                                <input type="text" class="form-control" id="name" placeholder="Enter name"></div>
                            <div class="form-group">
                                <label>Email</label>
                                <input type="email" class="form-control" id="Lname" placeholder="email"></div>
                            <div class="form-group">
                                <label>Subject</label>
                                <input type="text" class="form-control" id="subject" placeholder="subject"></div>
                            <div class="form-group">
                                <label>Leave your message</label>
                                <textarea style="width: 100%" rows="10" id="msg" placeholder="message"></textarea>
                            </div>
                            <div class="form-group">
                                <button type="submit" style="width: 25%" class="btn btn-default">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>
</div>

<% include partials/loginModal %>
<% include partials/footer %>