<% include partials/header %>

<div class="container">
    <div class="row content">

        <div class="col-sm-9" style="margin-top: 10% ">
            <h3 style="float:left; padding-right: 600px" type="button" >Overview

            </h3>
            <button class="btn btn-success btn-lg" data-toggle="modal" data-target="#loginModal ">Enroll
                now
            </button>

            <hr style="border-top: 1px solid #8c8b8b;">
        </div>
        <div class="col-sm-9">
            <div class="col-sm-4">

                <img class="img-responsive"
                     src="http://qassoom.me/techie/wp-content/uploads/Introduction-to-Linux-OS-on-VMs-Cover.png"
                     class="img-responsive"
                     style=" margin-top:2% ; max-width: 300px">
                <br/>
                <h3 style="float:left; padding-right: 20px; margin-top:0px">Course title</h3>
                <div style="margin-top : 2px; ">
                    <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span></div>

            </div>
            <div class="col-sm-offset-1 col-sm-7">
                <h2>Course Description</h2>
                <h5><span class="glyphicon glyphicon-time"></span> Created by Gentjana Muça, Jul 24, 2017.</h5>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                    ut labore et dolore
                    magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                    commodo
                    consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
                    anim id est
                    laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim
                    ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
        </div>
        <div class="col-sm-3 sidenav jumbotron"">

            <img src="7767-1447152963.jpg" class="img-responsive; img-circle " style="margin-top: 2%; max-width: 120px">
            <br/>
            <h3>Fernando Torres</h3>
            <p style="font-size: 16px">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            </p><br/>
        </div>
    </div>
    <h3> CONTENT</h3>
    <hr style="border-top: 1px solid #8c8b8b;">

    <div class="col-sm-4 sidenav text-left">
        <h4>Module 1</h4>
        <ul class="nav nav-pills nav-stacked">
            <li><a href="#section1">Lesson 1:title</a></li>
            <li><a href="#section2">Lesson 2:title</a></li>
            <li><a href="#section3">Lesson 3:title</a></li>
        </ul>
        <br>
    </div>
    <div class="col-sm-4 sidenav text-left">
        <h4>Module 2</h4>
        <ul class="nav nav-pills nav-stacked">
            <li><a href="#section1">Lesson 4:title</a></li>
            <li><a href="#section2">Lesson 5:title</a></li>
            <li><a href="#section3">Lesson 6:title</a></li>
        </ul>
        <br>
    </div>
    <div class="col-sm-4 sidenav text-left">
        <h4>Module 3</h4>
        <ul class="nav nav-pills nav-stacked">
            <li><a href="#section1">Lesson 7:title</a></li>
            <li><a href="#section2">Lesson 8:title</a></li>
            <li><a href="#section3">Lesson 9:title</a></li>
        </ul>
        <br>
    </div>
    <div class="col-sm-4 sidenav text-left">
        <h4>Module 4</h4>
        <ul class="nav nav-pills nav-stacked">
            <li><a href="#section1">Lesson 10:title</a></li>
            <li><a href="#section2">Lesson 11:title</a></li>
            <li><a href="#section3">Lesson 12:title</a></li>
        </ul>
        <br>
    </div>
    <div class="col-sm-4 sidenav text-left">
        <h4>Module 5</h4>
        <ul class="nav nav-pills nav-stacked">
            <li><a href="#section1">Lesson 13:title</a></li>
            <li><a href="#section2">Lesson 14:title</a></li>
            <li><a href="#section3">Lesson 15:title</a></li>
        </ul>
        <br>
    </div>
    <div class="col-sm-4 sidenav text-left">
        <h4>Module 6</h4>
        <ul class="nav nav-pills nav-stacked">
            <li><a href="#section1">Lesson 16:title</a></li>
            <li><a href="#section2">Lesson 17:title</a></li>
            <li><a href="#section3">Lesson 18:title</a></li>
        </ul>
        <br>
    </div>

    <hr>
</div>
<% include partials/footer %>