
<% include partials/header%>

<div class="container-fluid">
    <div class="row content">
        <div class="col-sm-12 jumbotron " style="margin-top: 2%" >
            <img class="img-responsive" src="http://qassoom.me/techie/wp-content/uploads/Introduction-to-Linux-OS-on-VMs-Cover.png" class="img-responsive"
                 style=" margin-top:2% ; max-width: 200px">
            <h3 style="float:left; padding-right: 20px" >Course title</h3>
            <div style="margin-top : 22px; float:left;">
            <span class="glyphicon glyphicon-star"></span>  <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>    </div>
            <button style="float:right" type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#loginModal" style="width: 100px; height: 40px">Enroll now</button>

        </div>
    </div>
        <div class="col-sm-3 sidenav jumbotron"  >

<img src="images/photo.jpg" class="img-responsive; img-circle " style="margin-top: 2%; max-width: 120px">
<br/>
            <h3>Malfor Saja</h3>
            <h3> Biography</h3>
            <p style="font-size: 16px">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat.  </p>
        </div>
<div class="col-sm-9"  >
    <h4>Overview
    </h4>
    <hr>
    <h2>Course Description</h2>
    <h5><span class="glyphicon glyphicon-time"></span> Post by Gentjana Muça, Jul 24, 2017.</h5>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
        laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
        ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <br><br>

    <h3> CONTENT</h3>
    <hr>
    <div class="col-sm-4 sidenav text-left"  >
        <h4>Module 1</h4>
        <ul class="nav nav-pills nav-stacked">
            <li><a href="#section1">Lesson 1:title</a></li>
            <li><a href="#section2">Lesson 2:title</a></li>
            <li><a href="#section3">Lesson 3:title</a></li>
        </ul><br>
    </div>
    <div class="col-sm-4 sidenav text-left"  >
        <h4>Module 2</h4>
        <ul class="nav nav-pills nav-stacked">
            <li ><a href="#section1">Lesson 4:title</a></li>
            <li><a href="#section2">Lesson 5:title</a></li>
            <li><a href="#section3">Lesson 6:title</a></li>
        </ul><br>
    </div>
    <div class="col-sm-4 sidenav text-left"  >
        <h4>Module 3</h4>
        <ul class="nav nav-pills nav-stacked">
            <li><a href="#section1">Lesson 7:title</a></li>
            <li><a href="#section2">Lesson 8:title</a></li>
            <li><a href="#section3">Lesson 9:title</a></li>
        </ul><br>
    </div>
    <div class="col-sm-4 sidenav text-left"  >
        <h4>Module 4</h4>
        <ul class="nav nav-pills nav-stacked">
            <li><a href="#section1">Lesson 10:title</a></li>
            <li><a href="#section2">Lesson 11:title</a></li>
            <li><a href="#section3">Lesson 12:title</a></li>
        </ul><br>
    </div>
    <div class="col-sm-4 sidenav text-left"  >
        <h4>Module 5</h4>
        <ul class="nav nav-pills nav-stacked">
            <li><a href="#section1">Lesson 13:title</a></li>
            <li><a href="#section2">Lesson 14:title</a></li>
            <li><a href="#section3">Lesson 15:title</a></li>
        </ul><br>
    </div><div class="col-sm-4 sidenav text-left"  >
        <h4>Module 6</h4>
        <ul class="nav nav-pills nav-stacked">
            <li><a href="#section1">Lesson 16:title</a></li>
            <li><a href="#section2">Lesson 17:title</a></li>
            <li><a href="#section3">Lesson 18:title</a></li>
        </ul><br>
    </div>

    <hr>
    </div>
</div>
<% include partials/footer %>