<% include partials/header%>

<div class="jumbotron" style="background-color: white; margin-bottom: -10px" >
    <div class="container text-center"><p class="slogan" style="font-size: 36px; margin-top: 50px; ">Tell me and I forget. Teach me and I remember.<br>Involve me and I learn</p>
        <button style="width: 200px; margin-bottom: 30px " class="btn btn-success" data-toggle="modal" data-target="#signupModal">sign up now</button>
    </div>
</div>
<div class="jumbotron text-center" style="margin-right: 10px; margin-left: 10px; height: 250px; font-family: sans-serif ">
    <p>We want that your learning experience be as simple and entertaining as possible.</p>
    <p>You can access courses directly from your mobile devices</p>

    <img src="http://blog.timeneye.com/wp-content/uploads/2014/11/Android-app-store.png" height="50px" width="100px">
    <img src="https://www.gloriafood.com/wp-content/uploads/2014/08/rsz_appstorelogo.png" height="40px" width="100px">

</div>


<div class="container-fluid bg-3 text-center">
    <h3 class="slogan">Enroll Courses &amp; Get a Certificate </h3>
    <h3 class="slogan" style="font-size: 25px">From beginner to advanced </h3><br>

    <div class="row text-left"  >
        <div class="col-sm-3" style="margin: auto">
            <img src="http://qassoom.me/techie/wp-content/uploads/Introduction-to-Linux-OS-on-VMs-Cover.png" class="img-responsive" style="width:100%"  alt="Image">
            <p>Course title</p>
            <p>Course 1</p>
        </div>
        <div class="col-sm-3">
            <img src="http://qassoom.me/techie/wp-content/uploads/Introduction-to-Linux-OS-on-VMs-Cover.png" class="img-responsive"  style="width:100%" alt="Image">
            <p>Course title</p>
            <p>Course 2</p>
        </div>
        <div class="col-sm-3">
            <img src="http://qassoom.me/techie/wp-content/uploads/Introduction-to-Linux-OS-on-VMs-Cover.png" class="img-responsive" style="width:100%" alt="Image">
            <p>Course title</p>
            <p>Course 3</p>
        </div>
        <div class="col-sm-3">
            <img src="http://qassoom.me/techie/wp-content/uploads/Introduction-to-Linux-OS-on-VMs-Cover.png"  class="img-responsive" style="width:100%" alt="Image">
            <p>Cpurse title</p>
            <p>Course 4</p><br>
        </div>
        <div style=" margin:auto; display:block; text-align: center">
            <button style="width: 200px; " class="btn btn-default" >More Courses</button></div>
    </div>
</div>
</div><br>

<% include partials/loginModal %>
<% include partials/signupModal %>
<% include partials/footer %>
