<% include partials/header%>


    <div class="well">

        <table>

            <tr>
                <h4>
                <% recipes.forEach(function(recipe) { %>
                <th><%= recipe.name %></th>
                <% }) %>
                </h4>
            </tr>
            <% recipes.forEach(function(recipe) { %>
            <tr>
                <td>
                    <%= recipe.ingredients %>
                </td>
                <td>
                    <%= recipe.directions %>
                </td>

            </tr>
            <% }) %>
        </table>

    </div>


<% include partials/footer %>