<% include partials/header%>


    <div class="well">

        <table>

            <tr>
                <h4>
                <% users.forEach(function(user) { %>
                <th><%= user.user_id %></th>
                <% }) %>
                </h4>
            </tr>
            <% users.forEach(function(user) { %>
            <tr>
                <td>
                    <%= user.firstName %>
                </td>
                <td>
                    <%= user.lastName %>
                </td>
                <td>
                    <%= user.email %>
                </td>
            </tr>
            <% }) %>
        </table>

    </div>


<% include partials/footer %>