<% include partials/header%>
<link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
<div class="row container">
    <div class=" col-md-9 text-center" style ="margin-top: 100px; margin-left: 500px; font-family: 'Playfair Display', serif; ">
        <h1> How to become an instructor</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12" style="margin-top: 50px; margin-left: 550px">
        <iframe width="780" height="415" src="https://www.youtube.com/embed/ovZ1czHsJyM?autoplay=1" frameborder="0" allowfullscreen></iframe>
    </div>
</div>
<div class="row">
    <div class=" col-md-9" style ="margin-top: 100px; margin-bottom: 100px; font-family: 'Playfair Display', serif; margin-left: 790px;">
        <a href="#" class="btn btn-info button2 button text-center" role="button" style="width: 300px; height: 30px"  data-toggle="modal" data-target="#signupModal">Get started now</a>
    </div>
</div>
<% include partials/signupModal %>
<% include partials/footer %>